body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  text-align: center;
  margin-top: 3rem;
}

.container {
  width: 30vw;
  margin: 1rem auto;
  background: rgb(37, 223, 223);
  border-radius: 25px;
  padding: 1rem;
  margin-top: 3rem;
}

.income-exp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.income {
  margin-right: 2rem;
}

.delete-btn {
  display: none;
}
